@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin :0;
    padding : 0;
    box-sizing : border-box;
    scroll-behavior: smooth;

}
section{
    padding-top:100px;
}

/* start styling of Home */
header{
height: 100vh;  
background:url("./images/ontro.jpg") center center/cover no-repeat;
position:relative;
width:100%;
}
header::before{
content:"";
position:absolute;
background:rgb(0,0,0,0.3);
height:100%;
width:100%;
top:0;
left:0;
}
header *{
    z-index:10;
}

header .container{
    width:80%;
    margin: 0 auto;
}

.header .contain{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header .logo{
    width:80px;
    padding-top:40px;
    border-radius:50%;
}
.header .navigation ul{
    list-style:none;
    display:flex;
}
.header .navigation a{
    text-decoration:none;
    color:coral;
}
.header .navigation a:hover{
    color:aliceblue;
}
.header .navigation ul li a{
padding-right:50px;
}

.header .content{
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   height:80vh;
   line-height:40px;
}

.header .content .hea{
    font-size:35px;
    text-transform:capitalize;
    color:antiquewhite;
}
.header .content .hea .text{
    color:coral;
}
.header .content .pra{
    font-size:15px;
    letter-spacing:1px;
    color:antiquewhite;
    text-transform:capitalize;
}
.header .content .btn{
    background-color:coral;
    border:1px solid coral;
    border-radius:20px;
    padding:10px;
    color:antiquewhite;
    font-size:15px;
    font-weight:550;
    text-transform:capitalize;
    cursor:pointer;
}
.header .content .btn:hover{
    transform:scale(1.1);
    background-color:brown;
}
/* End styling of Home */

/* start styling of About */
.about{
width:100%;
height:100%;
background-color:antiquewhite;

}
 section .container{
    width:80%;
    margin:0 auto;
   
}
.container .title{
    text-align: center;
    padding-bottom:30px;
}
.container .title .head{
    font-size:45px;
    font-weight:700px;
    text-transform:capitalize;
    letter-spacing:1px;


}
.container .title .sub{
    color:rgb(45, 35, 21);
    line-height:15px;
}

.container .pragraph .pag{
    font-size:20px;
    color:rgb(67, 51, 32);
    padding-bottom:30px;
    padding-left:10px;
}
.container .pho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container img{
    width:20%;
   padding:7px;
   border-radius:15px;
   transition:0.7s;
   padding-bottom:10px;
}

.container .link{
display: flex;
justify-content: center;

}

.container .learn{

    font-size:22px;
    background-color: coral;
    border-radius:15px;
    text-decoration: none;
    text-align: center;
    padding:10px;
    color:rgb(67, 51, 32);
    margin:10px 0;
}
.container .learn:hover{
background-color: rgb(203, 151, 38);
}

/* end start section */

/* style of second section */

.offers{
    background-color:burlywood;
    height:100%;
    width:100%;
}
.offers .container{
    height:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
}
.offers .container .head{
    font-size:45px;
    font-weight:700px;
    text-transform:capitalize;
    letter-spacing:1px;
}
.offers .container .pag{
    color:rgb(45, 35, 21);
    line-height:25px;
    font-weight:600px;
    padding-bottom:20px;

}
.offers .container .card-container{
    height:60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
gap: 40px;
    margin: auto;
    text-align: center;
}

.offers .container .card{
    margin-right:30px;
display:flex;
flex-direction:column;
align-items:center;
width:300px;
margin-bottom:10px;
}
.offers .container .card img{
    width:60%;
    height:30%;
    border-radius:50%;

}
.offers .container .card .head{
    font-size:30px;
    padding-bottom:20px;

}
.offers .container .card .parg{
    font-size:20px;
    color:rgb(54, 28, 10);
}
.offers .container .card .sp1{
    text-decoration:line-through;
}
.offers .container .card .sp2{
    color:chocolate;
    text-decoration:none;
}
/* end second section  */

/* start third section */
.gallery{
    background-color: rgb(40, 38, 38);
}
.gallery h1{
    font-size:50px;
    font-weight:700px;
    color:aliceblue;
    text-align: center;
}
 .gallery .photos {
display:flex;
justify-content:center;
align-items:center;
flex-wrap:wrap;

}
.gallery .photos img{
    height:350px;
    width:350px;
    padding:20px;
}

/* end third section */

/* style of fourth section */
.Contact{
    width:100%;
    height:100%;
}
.Contact h1{
    font-size:50px;
    font-weight:700px;
    text-align: center;
}
.Contact .container{
    width:80%;
}
.Contact form{
    display:flex;
    flex-direction: column;
}

.Contact form input{
    width:100%;
    font-size: 24px;
    padding:10px;
    margin-bottom:10px;
    border-radius: 15px;
    border: 1px solid #8a1515;
}
.Contact form textarea{
    width:100%;
    font-size: 24px;
    padding:10px;
    margin-bottom:10px;
    border-radius: 15px;
}
.Contact button{
    padding:5px;
    margin:10px;
    font-size:22px;
    border-radius:10px;
    cursor:pointer;
}
.Contact button:hover{
    background-color: rgb(233, 188, 156);
}
/* end style of fourth section */
@media (max-width:920px){
    .header .navigation ul li a{
        padding-right:20px;
        }
}
@media (max-width:700px){
    .header .navigation ul li a{
        padding-right:20px;
        }
        .header .container{
            width:95%;
        }
        .header .logo{
        margin-left:20px;  
        }
}
@media (max-width:550px){
    .header .navigation ul li a{
        padding-right:10px;
        font-size:14px;
        }
        .header .logo{
            margin-left:10px;  
            }
}
